{
  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "env": {
    "es6": true
  }
}